.stApp {
    background: linear-gradient(45deg, #4aacf1, #D3CCE3, #2c5781, #070a5d); /* Soft pastel colors */
    background-size: 400% 400%; 
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}